*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title{
    display: block;
    font-size: 5rem;
    font-weight: 900;
    padding: 3rem;
    color: rgb(193 33 243);
}


input{
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 21rem;
}

button.logButton{
    display: block;
    padding: 1.1rem 9.4rem 1.1rem 9.4rem;
    margin-top: 0.1rem;
    background-color:rgb(193 33 243);;
    color: aliceblue;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
}

.logins{
    text-align: center;
    position: absolute;
    left: 36%;
}

